# M-Pesa Credentials
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=

# JWT Secret
JWT_SECRET=super-secret-key-change-me

# Email Config
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
